.venv
.env
*.log
*.txt
*.json
*.csv
*.md
/models
conversations/node_modules
/home/rationallyprime/Whisper/conversation-analysis
conversation-analysis/*
verdict_processor.py
verdict_section_processor.py
archive/*
